# Dependencies
node_modules/
/**/node_modules/
yarn.lock
pnpm-lock.yaml

# Production build files
/build/
/dist/
/client/build/
/client/dist/
/server/build/
/server/dist/
/**/.vercel

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/**/.env
/**/.env.*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Testing
/coverage/
/**/coverage/
/.nyc_output

# React specific
/client/.pnp
/client/.pnp.js
/client/coverage
/client/storybook-static

# Build artifacts
*.tsbuildinfo
.eslintcache

# Cache directories
.cache/
.parcel-cache/
.next/
.nuxt/
.temp/
.docusaurus/

# Local Netlify folder
.netlify

# Backend temp files
/server/uploads/*
!/server/uploads/.gitkeep

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock