:root.light {
  --background-color: white;
  --secondary-color: #f1f1f1;
  --font-color: black;
}

:root.dark {
  --background-color: #333;
  --secondary-color: #444;
  --font-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  transition: background 200ms ease-in-out;
}