:root.light {
  --background-color: white;
  --secondary-color: #f1f1f1;
  --font-color: black;
  --logo-color: none;
}

:root.dark {
  --background-color: #333;
  --secondary-color: #444;
  --font-color: white;
  --logo-color: invert(100%) sepia(0%) saturate(7495%) hue-rotate(204deg) brightness(101%) contrast(101%);
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
}