:root.light {
  --background-color: white;
  --secondary-color: #f1f1f1;
  --third-color: #e1e1e1;
  --font-color: black;
}

:root.dark {
  --background-color: #1A1A1A;
  --secondary-color: #2A2A2A;
  --third-color: #3A3A3A;
  --font-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 12px;               
}

*::-webkit-scrollbar-track {
  background: var(--secondary-color);       
  border-radius: 10px;        
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background-color);     
  border-radius: 10px;        
  border: 3px solid var(--secondary-color); ;  
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;     
}