.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999999999999999999;
}

.confirm-content {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 20px;
  max-width: 400px;
  width: calc(100% - 100px);
  position: relative;
  color: var(--font-color);
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.confirm-message {
  font-size: 1rem;
  align-self: flex-start;
}

.confirm-buttons {
  display: flex;
  gap: 5px;
  align-self: flex-end;
}

.confirm-button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-size: 1rem;
}

.confirm-button:nth-child(2) {
  background-color: royalblue;
}

.confirm-button:hover {
  filter: brightness(75%);
}

@media screen and (max-width: 768px) {
  .confirm-content {
    width: calc(100% - 60px);
    padding: 20px;
  }
}
