.footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  margin-top: auto;
}

.footer-hr {
  border-bottom: 1px solid var(--font-color);
  opacity: 0.2;
  max-width: 1200px;
  width: calc(100% - 100px);
  margin-bottom: 50px;
}

.footer-links {
  display: flex;
  gap: 10px;
}

.footer-link {
  color: #007bff;
  text-decoration: none;
}
