.graph {
    width: 100%;
    height: 100vh;
}

.node {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 200ms ease-in-out;
    z-index: 1;
    cursor: pointer;
}

.node:hover {
    filter: brightness(0.9);
}

.node img {
    width: 75px;
    height: 75px;
    user-select: none;
}

#Amazon img, #Apple img {
    filter: var(--logo-color);
}
  
#faang {
    left: calc(50% - 50px);
    top: 50%;
    color: var(--font-color);
    font-weight: bold;
}

#Facebook {
    left: calc(25% - 50px);
    top: 25%;
}
  
#Amazon {
    left: calc(50% - 50px);
    top: 10%;
}
  
#Apple {
    left: calc(75% - 50px);
    top: 25%;
}
  
#Netflix {
    left: calc(25% - 50px);
    top: 75%;
}
  
#Google {
    left: calc(75% - 50px);
    top: 75%;
}
  