.lesson-types {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.lesson-type-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 20px;
  text-align: center;
}

.lessons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  align-items: flex-start;
  justify-content: center;
}

.lesson-card {
  border-radius: 10px;
  width: 290px;
  text-align: center;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.lesson-card-disabled {
  cursor: not-allowed;
}

.lesson-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: var(--font-color);
  gap: 10px;
}

.lesson-card-buttons {
  display: flex;
  gap: 5px;
}

.lesson-card-button {
  padding: 10px 15px;
  border-radius: 50px;
  background: var(--background-color);
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  gap: 5px;
  border: none;
  align-items: center;
  font-size: 1rem;
}

.lesson-card-button:hover {
  filter: brightness(75%);
}

.lesson-card-button.disabled {
  cursor: not-allowed;
  filter: brightness(100%);
}

.lesson-card-button .fa-rocket {
  color: royalblue;
}

.lesson-card-button .fa-check-circle {
  color: #3fca7d;
}

.lesson-card-image-container {
  width: 100%;
  width: 290px;
  height: 174px;
}

.lesson-card-image-container.data-structures {
  background: linear-gradient(90deg, #9413bb, #2d7aff);
}

.lesson-card-image-container.algorithms {
  background: linear-gradient(90deg, #009fcb, #31f845);
}

.lesson-card-image-container.concepts {
  background: linear-gradient(90deg, #ff0000, #520d9b);
}

.lesson-card-image {
  width: 100%;
  height: auto;
  transition:
    filter 0.5s ease,
    opacity 0.5s ease;
}

.lesson-card-image.blurred {
  filter: blur(10px);
  opacity: 0.6;
}

.lesson-card-image.loaded {
  filter: blur(0);
  opacity: 1;
}

.lesson-card-title {
  font-size: 1.25rem;
  text-align: center;
}
