
.lesson-types {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.lesson-type-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 20px;
  text-align: center;
}


.lessons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .lesson-card {
    border-radius: 10px;
    width: 290px;
    text-align: center;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .lesson-card-disabled {
    cursor: not-allowed;
  }

  .lesson-card:hover {
    filter: brightness(75%);
  }

  .lesson-card-disabled:hover {
    filter: brightness(100%);
  }

  .lesson-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: var(--font-color);
    gap: 10px;
  }

  .lesson-card-sub-text {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .lesson-card-sub-text i {
    color: goldenrod;
  }

  .lesson-card-image-container {
    width: 100%;
    width: 290px;
    height: 174px;
    background: white;
  }

  .lesson-card-image{
    width: 100%;
    height: auto;
  }
  
  .lesson-card-title {
    font-size: 1.25rem;
    text-align: center;
  }