.skeleton-card {
  border-radius: 10px;
  width: 290px;
  text-align: center;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.8;
}

.skeleton-card-image-container {
  width: 100%;
  height: 174px;
}

.skeleton-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.skeleton-card-title {
  width: 70%;
  height: 20px;
  border-radius: 5px;
}

.skeleton-card-difficulty {
  width: 40%;
  height: 16px;
  margin: 5px 0;
  border-radius: 5px;
}

.skeleton-card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.skeleton-card-button {
  width: 40%;
  height: 35px;
  border-radius: 50px;
}
