
.lesson-types {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.lesson-type-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 20px;
  text-align: center;
}


.lessons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .lesson-card {
    border-radius: 20px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .lesson-card-disabled {
    cursor: not-allowed;
  }

  .lesson-card:hover {
    background: #3FCA7D;
  }

  .lesson-card-disabled:hover {
    background: var(--secondary-color);
  }

  .lesson-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: var(--font-color);
  }

  .lesson-card-sub-text {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .lesson-card-sub-text i {
    color: goldenrod;
  }

  .lesson-card-image-container {
    width: 100%;
    min-width: 250px;
    min-height: 150px;
    background: white;
  }

  .lesson-card-image{
    width: 100%;
    height: auto;
  }

  .lesson-card-image.loading {
    filter: blur(8px);
    transition: filter 0.3s ease-out;
  }
  
  .lesson-card-image.loaded {
    filter: blur(0);
    transition: filter 0.3s ease-out;
  }
  
  .lesson-card-title {
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
  }
  
  .lesson-card p {
    margin: 5px 0;
  }
  
  .lesson-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .lesson-card a:hover {
    background-color: #0056b3;
  }  