.navbar {
    width: 100%;
    height: 50px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    width: calc(100% - 20px);
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}

.left .fa-meteor {
    font-size: 1.5rem;
    color: tomato;
}

.nav-link {
    font-size: 1rem;
    color: var(--font-color);
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
}

.nav-link:hover {
    background: var(--background-color);
}

.right {
    display: flex;
    margin-right: 10px;
    gap: 10px;
    align-items: center;
}

.login-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--font-color);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button img {
    width: 30px;
    height: 30px;
}

.login-button:hover {
    background: var(--background-color);
}

.user-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--background-color);
}

.color-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--font-color);
    background: transparent;
}

.color-button:hover {
    background: var(--background-color);
}