.navbar {
    width: 100%;
    height: 50px;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}

.left img {
    width: 40px;
    height: 40px;
    filter: var(--logo-color);
}

.left p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font-color);
}

.right {
    display: flex;
    margin-right: 10px;
    gap: 10px;
}

.login-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--font-color);
    background: transparent;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background-color);
}

.color-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--font-color);
    background: transparent;
}