.premium-page {
  max-width: 1200px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px auto;
}

.premium-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--font-color);
}

.premium-info {
  font-size: 1.5rem;
  color: var(--font-color);
}

.subscription-options {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.subscription-option {
  padding: 40px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.subscription-title {
  font-size: 1.5rem;
  color: var(--font-color);
}

.subscription-cost {
  font-size: 3rem;
  color: var(--font-color);
  display: flex;
  gap: 5px;
  height: 40px;
  align-items: center;
}

.subscription-cost span {
  filter: brightness(50%);
}

.subscription-cost span:nth-child(2) {
  align-self: flex-end;
  font-size: 1rem;
}

.subscription-cost span:nth-child(1) {
  align-self: flex-start;
  font-size: 1.5rem;
}

.subscription-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscription-feature {
  text-align: left;
  display: flex;
  gap: 10px;
}

.checkout-button {
  padding: 10px 15px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background: royalblue;
  width: 100%;
}

.checkout-button.disabled {
  filter: brightness(75%);
  cursor: not-allowed;
  background: gray;
}

.checkout-button.cancel {
  background: #d9534f;
}

.checkout-button:hover {
  filter: brightness(75%);
}

.manage-button {
  background: transparent;
  border: none;
  color: var(--font-color);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-info {
  font-size: 1rem;
  color: var(--font-color);
  text-align: left;
}

@media screen and (max-width: 768px) {
  .subscription-option {
    padding: 20px;
  }

  .premium-title {
    font-size: 2rem;
  }

  .premium-info {
    font-size: 1rem;
  }

  .subscription-options {
    flex-direction: column;
    align-items: center;
  }
}
