.premium-page {
  max-width: 1200px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px auto;
}

.premium-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--font-color);
}

.premium-info {
  font-size: 1.5rem;
  color: var(--font-color);
}

.subscription-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.subscription-option {
  padding: 40px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  width: calc(100% - 80px);
}

.subscription-title {
  font-size: 1.5rem;
  color: var(--font-color);
}

.subscription-cost {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font-color);
}

.subscription-cost span {
  font-size: 1rem;
  filter: brightness(50%);
}

.subscription-features {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subscription-feature {
  text-align: left;
}

.checkout-button {
  padding: 10px 15px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  border: none;
  transition: filter 200ms ease-in-out;
  background-color: #3FCA7D;
}

.checkout-button:hover {
  filter: brightness(75%);
}

.subscription-option:nth-child(3) {
  position: relative;
  padding-top: 40px; /* To make space for the label */
}

.subscription-option:nth-child(3)::before {
  content: "Best Value";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3FCA7D;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 768px) {
  .premium-title {
    font-size: 2rem;
  }

  .premium-info {
    font-size: 1rem;
  }

  .subscription-options {
    flex-direction: column;
    align-items: center;
  }
}