.problems-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure overlay appears above other content */
}

.overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.overlay-content {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* Ensure content appears above backdrop */
  position: relative;
  width: calc(100% - 20px);
  max-width: 1200px;
  height: 80%;
  overflow: auto;
}

.overlay-content h2 {
  font-size: 1.5rem;
  color: var(--font-color);
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--font-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
}

.close-button:hover {
  background-color: var(--secondary-color);
}

.problem-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--font-color);
  overflow-x: auto;
}

.table-header {
  border-bottom: var(--secondary-color) 2px solid;
  color: var(--font-color);
  font-weight: 100;
}

.table-header div {
  filter: brightness(75%);
}

.table-header, .table-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.table-row:nth-child(odd) {
  background-color: var(--secondary-color);
}

.table-row div, .table-header div {
  flex: 1;
}

.table-row div:nth-child(1), .table-header div:nth-child(1) {
  flex: 0.5;
}

.table-row div:nth-child(2), .table-header div:nth-child(2) {
  flex: 3;
}

.table-row div:nth-child(3), .table-header div:nth-child(3) {
  flex: 0.75;
}

.table-row div:nth-child(5), .table-header div:nth-child(5) {
  flex: 0.75;
}


.table-row a {
  color: var(--font-color);
  text-decoration: none;
}

.solution-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.solution-link button {
  color: #007bff;
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
}

.video-link button {
  color: #BF5AF2;
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
}

.title a:hover {
  color: #007bff;
}

.fa-arrow-up-right-from-square {
  font-size: 0.75rem;
}

.sort-button {
  background: none;
  padding: 2.5px 5px;
  border: none;
  cursor: pointer;
  color: var(--font-color);
}

.progress-bar {
  width: 50%;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: #3FCA7D;
}

.overlay-content h2 {
  text-align: center;
}

.solved-count {
  font-size: 1.5rem;
  text-align: center;
  color: var(--font-color);
}

.solved-count span {
  font-size: 1rem;
  filter: brightness(50%);
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.check button {
  background: none;
  border: none;
}

.check i {
  font-size: 1.25rem;
  color: #3FCA7D;
}

.premium-link i {
  color: goldenrod;
}

.roadmap-lessons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.roadmap-lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  cursor: pointer;
}

.roadmap-lesson:hover {
  background: #3FCA7D;
}

@media (max-width: 768px) {
  .overlay-content {
    width: calc(100% - 30px);
    padding: 20px 5px;
  }
  /* Resize only the table elements */
  .table-header, .table-row {
    font-size: 0.75rem; /* Smaller font size for table headers and rows on mobile */
    padding: 10px; /* Reduced padding for better spacing */
  }

  .table-row div:nth-child(2), .table-header div:nth-child(2) {
    flex: 2;
  } 
  
  .table-row a {
    font-size: 0.75rem; /* Smaller font size for links in the table */
  }

  .sort-button {
    font-size: 0.75rem; /* Smaller font size for sort buttons */
  }

  .solution-link button {
    font-size: 1rem; /* Smaller font size for solution links */
  }

  .title {
    font-size: 0.75rem;
  }
}