.problems-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.problems-overlay-content {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  position: relative;
  width: calc(100% - 80px);
  max-width: 1200px;
  height: calc(100vh - 80px);
  overflow: auto;
}

.problems-overlay-content::-webkit-scrollbar-track {
  border-radius: 0 20px 20px 0;
}

.problems-overlay-content h2 {
  font-size: 1.5rem;
  color: var(--font-color);
  margin-bottom: 10px;
}

.problems-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--font-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
}

.problems-close-button:hover {
  background-color: var(--secondary-color);
}

.problems-header {
  height: 175px;
}

.problem-table {
  display: flex;
  flex-direction: column;
  width: calc(100% - 5px);
  color: var(--font-color);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 225px);
  padding-right: 5px;
}

.table-header {
  border-bottom: var(--secondary-color) 2px solid;
  color: var(--font-color);
  font-weight: 100;
}

.table-header div {
  filter: brightness(75%);
}

.table-header,
.table-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.table-row:nth-child(odd) {
  background-color: var(--secondary-color);
}

.table-row div,
.table-header div {
  flex: 1;
}

.table-row .check,
.table-header .check-head {
  flex: 0.5;
}

.table-row .title,
.table-header .title-head {
  flex: 3;
}

.table-row .solution-link,
.table-header .solution-link-head {
  flex: 0.75;
}

.table-row .difficulty,
.table-header .difficulty-head {
  flex: 0.75;
}

.table-row a {
  color: var(--font-color);
  text-decoration: none;
}

.solution-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.solution-link .fa-tools {
  color: #a0a0a0;
  cursor: not-allowed;
}

.solution-link button {
  color: gold;
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
}

.title a:hover {
  color: #007bff;
}

.fa-arrow-up-right-from-square {
  font-size: 0.75rem;
}

.sort-button {
  background: none;
  padding: 2.5px 5px;
  border: none;
  cursor: pointer;
  color: var(--font-color);
}

.progress-bar {
  width: 50%;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: #3fca7d;
}

.problems-overlay-content h2 {
  text-align: center;
}

.solved-count {
  font-size: 1.5rem;
  text-align: center;
  color: var(--font-color);
}

.solved-count span {
  font-size: 1rem;
  filter: brightness(50%);
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.check button {
  background: none;
  border: none;
  cursor: pointer;
}

.check i {
  font-size: 1.25rem;
  color: #3fca7d;
}

.premium-link i {
  color: goldenrod;
}

.roadmap-lessons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.roadmap-lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  cursor: pointer;
}

.roadmap-lesson:hover {
  background: #3fca7d;
}

.fa-ban {
  color: #d9534f;
}

@media (max-width: 768px) {
  .problems-overlay-content {
    width: calc(100% - 30px);
    height: calc(100vh - 60px);
    padding: 20px 5px;
  }
  
  .problem-table {
    max-height: calc(100% - 260px);
  }

  .table-header,
  .table-row {
    font-size: 0.75rem;
    padding: 10px;
  }

  .table-row .difficulty,
  .table-header .difficulty-head {
    flex: 2;
  }

  .table-row a {
    font-size: 0.75rem;
  }

  .sort-button {
    font-size: 0.75rem;
  }

  .solution-link button {
    font-size: 1rem;
  }

  .title {
    font-size: 0.75rem;
  }
}
