.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.settings-content {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  width: calc(100% - 100px);
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: var(--font-color);
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 300px;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.settings-close-button {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--font-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
}

.settings-close-button:hover {
  background-color: var(--secondary-color);
}

.settings-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color);
}

.settings-divider {
  border-bottom: 1px solid var(--third-color);
  opacity: 0.2;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-bottom: 20px;
}

.settings-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(30% - 10px);
}

.settings-sidebar-item {
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--font-color);
  background: transparent;
  border: none;
  text-align: left;
  display: flex;
  gap: 10px;
}

.settings-sidebar-item.active {
  background: var(--secondary-color);
}

.settings-sidebar-item:hover {
  background: var(--secondary-color);
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(70% - 10px);
}

.setting-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--third-color);
}

.setting-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.setting-item label {
  font-size: 1rem;
  padding: 10px 0;
}

.setting-input {
  padding: 10px;
  border-radius: 50px;
  font-size: 1rem;
  background: var(--secondary-color);
  color: var(--font-color);
  border: none;
  outline: none;
}

.delete-doc {
  background-color: #d9534f;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.download-doc,
.upload-doc {
  background-color: var(--secondary-color);
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--font-color);
}

.delete-doc:hover,
.download-doc:hover,
.upload-doc:hover {
  filter: brightness(0.75);
}

@media screen and (max-width: 768px) {
  .settings-content {
    padding: 20px;
    width: calc(100% - 60px);
  }

  .settings-container {
    flex-direction: column;
  }

  .settings-sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .settings {
    width: 100%;
  }
}
