.solution-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000000;
}

.solution-content {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 20px;
  width: calc(100% - 100px);
  max-width: 1000px;
  position: relative;
  z-index: 1001;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(90vh - 100px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.solution-content::-webkit-scrollbar-track {
  border-radius: 0 20px 20px 0;
}

.solution-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.solution-close-button {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--font-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
}

.solution-close-button:hover {
  background-color: var(--secondary-color);
}

.solution-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color);
}

.solution-header-divider {
  border-bottom: 1px solid var(--third-color);
  opacity: 0.2;
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-top: 40px;
  overflow: hidden;
}

.video-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}

@media (max-width: 768px) {
  .solution-content {
    padding: 20px 10px;
    width: calc(100% - 40px);
    height: calc(100vh - 60px);
  }
}

.solution-github-link {
  position: absolute;
  top: 20px;
  right: 40px;
  color: var(--font-color);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100000000000;
  font-size: 1rem;
  padding: 10px;
  border-radius: 50px;
}

.solution-github-link:hover {
  background: var(--third-color);
}

.solution-copy-button {
  position: absolute;
  top: 20px;
  right: 10px;
  color: var(--font-color);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100000000000;
  font-size: 1rem;
  padding: 10px;
  border-radius: 50px;
}

.solution-copy-button:hover {
  background: var(--third-color);
}

.solutions-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.solution {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.code-container {
  position: relative;
  align-self: normal;
}

.solution-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color);
}

.complexity-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--font-color);
}

.complexity {
  font-size: 1rem;
  color: var(--font-color);
}

.complexity::before {
  content: '•';
  margin-right: 8px;
}

.solution-divider {
  border-bottom: 1px solid var(--font-color);
  opacity: 0.2;
  width: 100%;
}

.solution:last-child .solution-divider {
  display: none;
}

.fa-circle-notch {
  font-size: 10rem;
  color: var(--secondary-color);
}

.solution-fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.solution-content .fa-face-frown-open {
  font-size: 10rem;
  color: #c49406;
}

.solution-content .fa-circle-exclamation {
  font-size: 10rem;
  color: #d9534f;
}

.solution-fallback-text {
  font-size: 2rem;
  color: var(--font-color);
  font-weight: bold;
}
