.lesson-skeleton {
  max-width: 1200px;
  width: calc(100% - 20px);
  height: 100vh;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lesson-skeleton-header {
  height: 40px;
  width: 125px;
  border-radius: 8px;
  align-self: center;
}

.lesson-skeleton-bottom {
  display: flex;
  height: calc(100% - 30px);
  overflow-y: scroll;
}

.lesson-skeleton-sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
  border-right: 1px solid var(--secondary-color);
}

.lesson-skeleton-sidebar-item {
  height: 30px;
  width: 80%;
  border-radius: 8px;
}

.lesson-skeleton-lessons {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

.lesson-skeleton-paragraph {
  height: 100px;
  width: 100%;
  border-radius: 8px;
}

.lesson-skeleton-code-block {
  height: 200px;
  width: 100%;
  border-radius: 8px;
}

.lesson-skeleton-bullet {
  height: 30px;
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .lesson-skeleton {
    margin: 50px 10px 100px 10px;
    height: auto;
  }

  .lesson-skeleton-bottom {
    flex-direction: column;
    height: auto;
  }

  .lesson-skeleton-sidebar {
    width: 100%;
    padding-right: 0;
    border-right: none;
  }

  .lesson-skeleton-sidebar-item {
    width: 80%;
  }

  .lesson-skeleton-lessons {
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: auto;
  }
}
